@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        /* макимальная ширина контента */
        --widthContent:1208px;
        /* Растояние от границы брузера по бокам */
        --widthContentMargin:12px;        
    }

    body{
        @apply font-Rubik bg-[#FBF8EC]
    }

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{            
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mx-auto w-[calc(100%-var(--widthContentMargin)*2)] max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    }    

    @media screen and (min-width:480px) {
        :root{           
            /* Растояние от границы брузера по бокам */
            --widthContentMargin:16px;        
        }
    }

    @media screen and (min-width:976px) {
        :root{           
            /* Растояние от границы брузера по бокам */
            --widthContentMargin:20px;        
        }
    }    
}


